anfangs.wav
000_Main.acn
000_Main.aux
000_Main.bcf
000_Main.glo
000_Main.glsdefs
000_Main.ist
000_Main.kog
000_Main.lof
000_Main.log
000_Main.lot
000_Main.out
000_Main.pdf
000_Main.run.xml
000_Main.syg
000_Main.synctex.gz
000_Main.toc
